@font-face {
    font-family: 'Retronoid';
    src: url('assets/fonts/Retronoid.ttf') format('truetype');
}

.drawingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c1a2;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pixelsHoverBlack {
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #1f1f1f;
    padding: 0px 60px 0px 60px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(79, 221, 221);
    font-family: 'Retronoid';
}

a:hover {
    text-decoration: none;
    color: rgb(129, 79, 221);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}

h1 {
    color: #ff8cf0;
    font-family: 'Retronoid';
    font-size: 64px;
    font-weight: 300;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 64px;
}

.clearButton {
    width: 160px;
    height: 60px;
    background-color:#8cffc9;
    margin-top: 32px;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    font-family: 'Retronoid';
    font-size: 20px;
}

.clearButton:hover {
    background-color:#ff5959;
}